input:required:invalid,input:focus:invalid {
	-moz-box-shadow: red;
	-webkit-box-shadow: red;
	-o-box-shadow: red;
	box-shadow: red;
}

input:required:valid {
	-moz-box-shadow: green;
	-webkit-box-shadow: green;
	-o-box-shadow: green;
	box-shadow: green;
}

.observation-good {
	background: url('../img/good.png') no-repeat center;
	color: rgba(0, 0, 0, 0);
}

.observation-wrong {
	background: url('../img/bad.png') no-repeat center;
	color: rgba(0, 0, 0, 0);
}

.no-close .ui-dialog-titlebar-close {
	display: none;
}

.no-close .ui-dialog-titlebar {
	display: none;
}

.no-close {
	border: 4px double #999;
}