{% extends "base.html" %}<!-- hereda de la plantilla base la cabecera -->
{% block title %}Editar de nuevo cargo{% endblock %}
{% block content %}
    <div><h2>Editar cargo</h2></div>

    <!-- START SIMPLE FORM -->
<div class="simplebox grid740">
	<div class="title">
		<div class="shortcuts-icons">
			<a class="shortcut tips" href="#" title="{form_title}"><img
				src="{{STATIC_URL}}img/icons/shortcut/question.png"
				width="25" height="25" alt="icon" /></a>
		</div>
	</div>
	<div class="body">
		<form id="form1" name="form1" method="post" action=""
			enctype="multipart/form-data"> {% csrf_token %}
{#    {{ form.as_p }}<!-- renderiza el formulario por parrafos -->#}
        {% include "form_snippets.html" %}
        <div class="button-box">
				<input type="submit" name="button" id="button" value="Modificar"
					class="st-button" /> <input type="reset" name="button"
					id="button2" value="Cancelar" class="st-clear"
					onclick="window.location='{% url "cargos" %}'" />
			</div>
		</form>
	</div>
</div>
{% endblock %}