{% extends "base.html" %}<!-- hereda de la plantilla base la cabecera -->
{% block title %}Registrar nuevo cargo{% endblock %}
{% block content %}
    <h3>Registro de un nuevo cargo</h3></br>
    <form action="" method="post"> {% csrf_token %}
{#    {{ form.as_p }}<!-- renderiza el formulario por parrafos -->#}
        {% include "form_snippets.html" %}
        <div class="button-box">
				<input type="submit" name="button" id="button" value="Registrar datos"
					class="st-button" /> <input type="reset" name="button"
					id="button2" value="Cancelar" class="st-clear"
					onclick="window.location='{% url "cargos" %}'" />
			</div>
    </form>
{% endblock %}