
<!DOCTYPE html>
<html lang="es">
<head>
<title>Sist. de registro de personal</title>

<link rel="stylesheet" href="{{STATIC_URL}}css/reset.css" />
<link rel="stylesheet" href="{{STATIC_URL}}css/root.css" />
<link rel="stylesheet" href="{{STATIC_URL}}css/grid.css" />
<link rel="stylesheet" href="{{STATIC_URL}}css/typography.css" />
<link rel="stylesheet" href="{{STATIC_URL}}css/jquery-ui.css" />
<link rel="stylesheet"
	href="{{STATIC_URL}}css/jquery-plugin-base.css" />
<link rel="stylesheet"
	href="{{STATIC_URL}}css/jquery.timepicker.css" />
<link rel="stylesheet"
	href="{{STATIC_URL}}css/form-validating.css" />

<style>
#stats {
	display: block;
}

.custom-combobox {
	position: relative;
	display: inline-block;
	margin-right: 30px;
}

.custom-combobox-toggle {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-left: -1px;
	padding: 0;
	/* support: IE7 */
	*height: 1.7em;
	*top: 0.1em;
}

.custom-combobox-input {
	margin: 0;
	padding: 0.3em;
	font-family: Arial, Helvetica, sans-serif;
	background: #fff;
	color: #737F89;
}
</style>

<script src="{{STATIC_URL}}js/jquery.min.js"></script>
<script src="{{STATIC_URL}}js/jquery-ui-1.8.11.custom.min.js"></script>
<script src="{{STATIC_URL}}js/jquery-settings.js"></script>
<script src="{{STATIC_URL}}js/toogle.js"></script>
<script src="{{STATIC_URL}}js/jquery.tipsy.js"></script>
<script src="{{STATIC_URL}}js/jquery.uniform.min.js"></script>
<script src="{{STATIC_URL}}js/jquery.wysiwyg.js"></script>
<script src="{{STATIC_URL}}js/jquery.tablesorter.min.js"></script>
<script src="{{STATIC_URL}}js/raphael.js"></script>
<script src="{{STATIC_URL}}js/analytics.js"></script>
<script src="{{STATIC_URL}}js/popup.js"></script>
<script src="{{STATIC_URL}}js/fullcalendar.min.js"></script>
<script src="{{STATIC_URL}}js/jquery.prettyPhoto.js"></script>

<script src="{{STATIC_URL}}js/jquery.ui.core.js"></script>
<script src="{{STATIC_URL}}js/jquery.ui.mouse.js"></script>
<script src="{{STATIC_URL}}js/jquery.ui.widget.js"></script>
<script src="{{STATIC_URL}}js/jquery.ui.slider.js"></script>
<script src="{{STATIC_URL}}js/jquery.ui.datepicker.js"></script>
<script src="{{STATIC_URL}}js/jquery.ui.tabs.js"></script>
<script src="{{STATIC_URL}}js/jquery.ui.accordion.js"></script>
<script src="{{STATIC_URL}}js/jquery.ui.position.js"></script>
<script src="{{STATIC_URL}}js/jquery.ui.resizable.js"></script>
<script src="{{STATIC_URL}}js/jquery.ui.button.js"></script>
<script src="{{STATIC_URL}}js/jquery.ui.dialog.js"></script>
<script src="{{STATIC_URL}}js/jquery.ui.menu.js"></script>
<script src="{{STATIC_URL}}js/jquery.ui.autocomplete.js"></script>
<script src="{{STATIC_URL}}js/jquery.ui.tooltip.js"></script>
<script src="{{STATIC_URL}}js/jquery.timepicker.js"></script>
<script src="{{STATIC_URL}}js/jquery.timepicker.min.js"></script>
<script src="{{STATIC_URL}}js/jquery.dataTables.js"></script>


{#<script src="https://www.google.com/jsapi"></script>#}



</head>
<body>

	<section class="wrapper">

		<!-- START HEADER -->
		<header id="header">

			<!-- logo -->
			<div class="logo">
				<a href="{% url "homepage" %}"><img
					src="{{STATIC_URL}}img/sigma.png" width="184" height="50"
					alt="logo" /></a>
			</div>
			{% if user.is_authenticated %}
                <!-- profile box -->
			    <div id="profilebox">
				    <a href="#" class="display"> <img
				    	src="{{STATIC_URL}}img/simple-profile-img.jpg" width="33"
				    	height="33" alt="profile" /> <b>Bienvenido </b> <span>{{ user.username }}</span>
				    </a>
                    <div class="profilemenu">
					<ul>
						<li><a href="{% url "logout" %}">Cerrar sesion</a></li>
					</ul>
				</div>
			</div>

			<div class="clear"></div>
                </div>
                {% else %}
                <div id="profilebox">
				    <a href="#" class="display"> <img
				    	src="{{STATIC_URL}}img/icons/edicion/user2.png" width="33"
				    	height="33" alt="profile" /> <b>Hola !</b> <span>invitado</span>
				    </a>
                 <div class="profilemenu">
					<ul>
						<li><a href="{% url "login" %}">Iniciar sesion</a></li>
					</ul>
				 </div>
			    </div>
                </div>
                {% endif %}
		</header>
		<!-- END HEADER -->


		<!-- START MAIN -->
		<section id="main">
			<!-- START SIDEBAR -->
			<aside id="sidebar">

				<!-- start searchbox -->
				<div id="searchbox"></div>
				<!-- end searchbox -->

				<!-- start sidemenu -->
				<nav id="sidemenu">
					<ul>

						<!-- start submenu empleados -->
						<li class="subtitle"><a class="action" href="#"><img
								src="{{STATIC_URL}}img/icons/sidemenu/user.png"
								width="16" height="16" alt="icon" />Empleados<img
								src="{{STATIC_URL}}img/arrow-down.png" width="7"
								height="4" alt="arrow" class="arrow" /> </a> <!-- submenu -->
							<ul class="submenu">
								<li><a href="{% url "empleados" %}"> Todos los empleados</a></li>
							</ul> <!--  end submenu --></li>
						<!-- start submenu empleados -->
						<li class="subtitle"><a class="action" href="#"><img
								src="{{STATIC_URL}}img/icons/sidemenu/cargos.png"
								width="16" height="16" alt="icon" />Cargos<img
								src="{{STATIC_URL}}img/arrow-down.png" width="7"
								height="4" alt="arrow" class="arrow" /> </a> <!-- submenu -->
							<ul class="submenu">
								<li><a href="{% url "cargos" %}"> Todos los cargos</a></li>
							</ul> <!--  end submenu --></li>
                        <!-- start submenu empleados -->
						<li class="subtitle"><a class="action" href="#"><img
								src="{{STATIC_URL}}img/icons/sidemenu/areas.png"
								width="16" height="16" alt="icon" />Areas<img
								src="{{STATIC_URL}}img/arrow-down.png" width="7"
								height="4" alt="arrow" class="arrow" /> </a> <!-- submenu -->
							<ul class="submenu">
								<li><a href="{% url "areas" %}"> Todas las areas</a></li>
							</ul> <!--  end submenu --></li>


					</ul>
				</nav>
				<!-- end sidemenu -->

			</aside>
			<!-- END SIDEBAR -->

			<!-- START PAGE -->
			<section id="page">

				<!-- start page title -->
				<section class="page-title">
					<div class="in">
						<div class="titlebar">
							<!--  <h2>ASISTENCIA DE EMPLEADOS</h2>
							<p>Captura de registros de asistencia del relojbiom&eacute;trico</p> -->
							<h2>Sistema de registro de personal</h2>
							<p>Detalle de los registros</p>
						</div>

						<div class="shortcuts-icons">
							<a class="shortcut tips" href="#" title="Refresh"><img
								src="{{STATIC_URL}}img/icons/shortcut/refresh.png"
								width="25" height="25" alt="icon" /></a> <a class="shortcut tips"
								href="#" title="{page_info}"><img
								src="{{STATIC_URL}}img/icons/shortcut/question.png"
								width="25" height="25" alt="icon" /></a>
						</div>

						<div class="clear"></div>
					</div>
				</section>
				<!-- end page title -->

				<!-- START CONTENT -->
				<section class="content" id="content"> {% block content %} {% endblock %}</section>
				<!-- END CONTENT -->
			</section>
			<!-- END PAGE -->


			<div class="clear"></div>
		</section>
		<!-- END MAIN -->

		<!-- START FOOTER -->
		<footer id="footer">
			<div class="left-column">Copyright 2014 - Todos los derechos
				reservados</div>
		</footer>
		<!-- END FOOTER -->

	</section>
</body>
</html>

