 {% for field in form %}
      <div class="field_container">
      <h2>{{ field.errors }}</h2>  {#Mostrara error si es que hay uno#}
      <h2>{{ field.label_tag }} </br></h2>{# Mostrara el nombre del campo#}
      {{ field }}{# Mostrara el contenido del campo#}
      </div>
 {% endfor %}

