{% block title %} {% endblock %}
{% block content %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Login</title>

    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/reset.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/root.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/grid.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/typography.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/jquery-plugin-base.css" />


	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-ui-1.8.11.custom.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-settings.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/toogle.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.tipsy.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.uniform.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.wysiwyg.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.tablesorter.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/raphael.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/analytics.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/popup.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/fullcalendar.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.prettyPhoto.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.ui.core.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.ui.mouse.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.ui.widget.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.ui.slider.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.ui.datepicker.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.ui.tabs.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/jquery.ui.accordion.js"></script>
</head>
<body>
    <div class="loginform">
    	<div class="title"> <img src="{{ STATIC_URL}}img/sigma.png" width="200" height="46" /></div>
        <div class="body">
       	  <form id="form1" name="form1" method="post" action="">
           <form action="" method="post">{% csrf_token %}
                   {{ form.as_p }}
            <input type="submit" name="button" id="button" value="Login" class="button"/>
               {% if message == 'error' %}
                  <div id="box-msg" class="albox errorbox">
                      <b>Password y/o usuario incorrectos</b>
                  </div>
                  <a href="{% url "homepage" %}" class="icon-button"><img src="{{ STATIC_URL }}img/icons/button/world.png" width="18" height="18" alt="icon"/><span>Continuar como invitado</span></a>
               {% else %}
                  <div class="albox succesbox">
                     <b>Porfavor inicie sesion</b>
                  </div>
                  <a href="{% url "homepage" %}" class="icon-button"><img src="{{ STATIC_URL }}img/icons/button/world.png" width="18" height="18" alt="icon"/><span>Continuar como invitado</span></a>
            {% endif %}
       	  </form>
          </form>
        </div>
    </div>
</body>
</html>
{% endblock %}


