{% extends "base.html" %}
{% block title %} Empleados {% endblock %}
{% block content %}
<!-- START TABLE -->
<div class="simplebox grid740">
	<div class="titleh">
		<h3>Empleados</h3>
		<div class="shortcuts-icons">
			<a class="shortcut tips" href="{% url "empleado_crear" %}" title="Añadir nuevo registro"><img
				src="{{STATIC_URL}}img/icons/shortcut/plus.png" width="25"
				height="25" alt="icon" /></a> <a class="shortcut tips" href="#"
				title="Buscar"><img
				src="{{STATIC_URL}}img/icons/shortcut/search.png" width="25"
				height="25" alt="icon" /></a> <a class="shortcut tips" href="{% url "empleados" %}"
				title="Actualizar datos"><img
				src="{{STATIC_URL}}img/icons/shortcut/refresh.png"
				width="25" height="25" alt="icon" /></a>
		</div>

	</div>

	<!-- Start Data Tables Initialisation code -->
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			oTable = $('#example').dataTable({
				"bJQueryUI" : true,
				"sPaginationType" : "full_numbers"
			});
		});
	</script>
	<!-- End Data Tables Initialisation code -->



<table border='0' class='display data-table' id='example'>
			<thead>
			<tr>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Cargo</th>
            <th>Area</th>
			<th>Direccion</th>
			<th>Telefono</th>
            <th>Fecha registro</th>
			<th>Activo</th>
			<th>Opciones</th>
			</tr>
			</thead>
			<tbody>
     {% for empleado in empleados %}
    	<tr class='gradeA'>
		<td class='center'>{{ empleado.nombre }}</td>
        <td class='center'>{{ empleado.apellido }}</td>
        <td class='center'>{{ empleado.Cargo.cargo}}</td>
        <td class='center'>{{ empleado.Area.area }}</td>
        <td class='center'>{{ empleado.direccion }}</td>
        <td class='center'>{{ empleado.telefono }}</td>
        <td class='center'>{{ empleado.fecha_registro}}</td>
        <td class='center'>{{ empleado.activo }}</td>
        <td class='center'><a href="{% url "empleado_editar" empleado.id %}" title='Editar'</a>
            <img src='{{ STATIC_URL }}img/icons/sidemenu/file_edit.png' width='15' height='15' alt='icon' /><a href="{% url "empleado_eliminar" empleado.id %}"
				title='Eliminar'</a><img src='{{ STATIC_URL }}img/icons/sidemenu/cross.png' width='15' height='15' alt='icon' />
		</tr>
     {% endfor %}
        </tbody></table>
	
    <!-- START ALERT BOXES -->
	 <div class="albox succesbox">
        <b>Datos recuperados con exito!</b>
     </div>
	<!-- END ALERT BOXES -->

</div>
<!-- END TABLE -->
{% endblock %}



