<!-- START SIMPLE FORM -->
<div class="simplebox grid740">
	<div class="title">
		<h3>{form_title}</h3>
		<div class="shortcuts-icons">
			<a class="shortcut tips" href="#" title="{form_title}"><img
				src="/webs/sis2/site_media/img/icons/shortcut/question.png"
				width="25" height="25" alt="icon" /></a>
		</div>
	</div>
	<div class="body">
		<form id="form1" name="form1" method="post" action="{EDIT}"
			enctype="multipart/form-data">
			<input type="hidden" name="id_area" value="{id_area}" />
			<div class="st-form-line">
				<span class="st-labeltext">Nombre Area </span> <input name="nombre_area"
					type="text" class="st-forminput tips-right" id="nombre_area"
					style="width: 170px" value="{nombre_area}" title="Nombre Area" required />
				<div class="clear"></div>
			</div>
			<div class="st-form-line">
				<span class="st-labeltext">Sigla Area </span> <input id="sigla_area"
					name="sigla_area" type="text" class="st-forminput tips-right"
					title="Sigla Area" style="width: 170px;"
					value="{sigla_area}" required />
				<div class="clear"></div>
			</div>
			<div class="st-form-line">
				<span class="st-labeltext">Estado {estado}</span>
				<select name="estado" id="estado" class="uniform" style="width: 170px;">
					<option value="1">Activa</option>
					<option value="0">Inactiva</option>
				</select>
				<div class="clear"></div>
			</div>
			<script>
				document.getElementById('estado').value = '{estado}';
			</script>
			<div class="button-box">
				<input type="submit" name="button" id="button" value="Modificar"
					class="st-button" /> <input type="reset" name="button"
					id="button2" value="Cancelar" class="st-clear"
					onclick="window.location='{REPORT}?estado={estado}'" />
			</div>
		</form>
	</div>

	<!-- START ALERT BOXES -->
	<div class="grid740">
		{mensaje}
		<div class="clear"></div>
	</div>
	<!-- END ALERT BOXES -->

</div>
<!-- END SIMPLE FORM -->
