<!-- START TABLE -->
<div class="simplebox grid740">
	<div class="titleh">
		<h3>{table_title}</h3>
		<div class="shortcuts-icons">
			<a class="shortcut tips" href="{REPORT}"
				title="Buscar"><img
				src="/webs/sis2/site_media/img/icons/shortcut/search.png" width="25"
				height="25" alt="icon" /></a> <a class="shortcut tips" href="{REPORT}"
				title="Actualizar datos"><img
				src="/webs/sis2/site_media/img/icons/shortcut/refresh.png"
				width="25" height="25" alt="icon" /></a>
		</div>
	</div>

	<!-- Start Data Tables Initialisation code -->
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			oTable = $('#example').dataTable({
				"bJQueryUI" : true,
				"sPaginationType" : "full_numbers"
			});
		});
	</script>
	<!-- End Data Tables Initialisation code -->

	{data_table}
	
	<!-- START ALERT BOXES -->
	<div class="grid740">
		{mensaje}
		<div class="clear"></div>
	</div>
	<!-- END ALERT BOXES -->	

</div>
<!-- END TABLE -->