<!-- START SIMPLE FORM -->
<div class="simplebox grid740">
	<div class="titleh">
		<h3>{form_title}</h3>
		<div class="shortcuts-icons">
			<a class="shortcut tips" href="#" title="{form_title}"><img
				src="/webs/sis2/site_media/img/icons/shortcut/question.png"
				width="25" height="25" alt="icon" /></a>
		</div>
	</div>
	
	<div class="body">
		<form id="form1" name="form1" method="post" action = "{EDIT}" onclick="return redirect();"
			enctype="multipart/form-data">
			<div class="st-form-line">
				<span class="st-labeltext">Nombre</span> <input name="nombre" 	value="{nombre}"
					type="text" class="st-forminput tips-right" id="nombre"
					style="width: 170px"  title="Nombre" required />
				<input id="id_empleado" value={id_empleado} name="id_empleado" type="text" style='visibility: hidden' style="height: 5px">
			<div class="clear"> </div>
			</div>
			<div class="st-form-line">
				<span class="st-labeltext">Apellido paterno</span> <input id="paterno" value="{paterno}"
					name="paterno" type="text" class="st-forminput tips-right"
					title="Apellido paterno" style="width: 170px;" value="" required />
				<div class="clear"></div>
			</div>
			<div class="st-form-line">
				<span class="st-labeltext">Apellido materno</span> <input id="materno" value="{materno}"
					name="materno" type="text" class="st-forminput tips-right"
					title="Apellido materno" style="width: 170px;" value="" required />
				<div class="clear"></div>
			</div>
			<div class="st-form-line">
				<span class="st-labeltext">Direccion empleado</span> <input id="direccion" value="{direccion}"
					name="direccion" type="text" class="st-forminput tips-right"
					title="Direccion empleado" style="width: 170px;" value="" required />
				<div class="clear"></div>
			</div>
			<div class="st-form-line">
				<span class="st-labeltext">Area</span>
				<select name="area"class="uniform" style="width: 170px;">{OPTION_AREA}</select>
				<div class="clear"></div>
			</div>
			<div class="st-form-line">
				<span class="st-labeltext">Cargo</span>
				<select name="cargo"class="uniform" style="width: 170px;">{OPTION_CARGO}</select>
				<div class="clear"></div>
			</div>
		<!--	<script>
				document.getElementById("estado").value = {estado};
				function redirect() {
					var sel = document.getElementById("estado");
					var areaType = sel.options[sel.selectedIndex].value;
					document.form1.action = '{SET}?estado=' + areaType;
					return true;
				}
			</script> -->
			
			<div class="button-box">
				<input type="submit" name="button" id="button" value="Realizar cambios"
					class="st-button" /> <input type="reset" name="button"
					id="button2" value="Cancelar" class="st-clear"
					onclick="window.location='{REPORT}?estado={estado}'" />
			</div>
		</form>
	</div>

	<!-- START ALERT BOXES -->
	<div class="grid740">
		{mensaje}
		<div class="clear"></div>
	</div>
	<!-- END ALERT BOXES -->

</div>
<!-- END SIMPLE FORM -->