<!-- START SIMPLE FORM -->
<div class="simplebox grid740">
	<div class="titleh">
		<h3>{form_title}</h3>
		<div class="shortcuts-icons">
			<a class="shortcut tips" href="#" title="{form_title}"><img
				src="/webs/sis2/site_media/img/icons/shortcut/question.png"
				width="25" height="25" alt="icon" /></a>
		</div>
	</div>
	
	<div class="body">
		<form id="form1" name="form1" method="post" action="{SET}" onclick="return redirect();"
			enctype="multipart/form-data">
			<div class="st-form-line">
				<span class="st-labeltext">Nombre</span> <input name="nombre"
					type="text" class="st-forminput tips-right" id="nombre" value="{nombre}"
					style="width: 170px"  title="Nombre" required />
				<div class="clear"></div>
			</div>
			<div class="st-form-line">
				<span class="st-labeltext">Apellido paterno</span> <input id="paterno"
					name="paterno" type="text" value="{paterno}"class="st-forminput tips-right"
					title="Apellido paterno" style="width: 170px;" value="" required />
				<div class="clear"></div>
			</div>
			<div class="st-form-line">
				<span class="st-labeltext">Apellido materno</span> <input id="materno"
					name="materno" type="text" value="{materno}"class="st-forminput tips-right"
					title="Apellido materno" style="width: 170px;" value="" required />
				<div class="clear"></div>
			</div>
			<div class="st-form-line">
				<span class="st-labeltext">Direccion empleado</span> <input id="direccion"
					name="direccion" type="text" class="st-forminput tips-right"
					title="Direccion empleado" style="width: 170px;" value="{direccion}" required />
				<div class="clear"></div>
			</div>
			<div class="st-form-line">
				<span class="st-labeltext">Area</span>
				<select name="area"class="uniform" style="width: 170px;">{OPTION_AREA}</select>
				<div class="clear"></div>
			</div>
			<div class="st-form-line">
				<span class="st-labeltext">Cargo</span>
				<select name="cargo"class="uniform" style="width: 170px;">{OPTION_CARGO}</select>
				<div class="clear"></div>
			</div>
			<div class="button-box">
				<input type="submit" name="button" id="button" value="Registrar datos"
					class="st-button" /> <input type="reset" name="button"
					id="button2" value="Cancelar" class="st-clear"
					onclick="window.location='{REPORT}?estado={estado}'" />
			</div>
		</form>
	</div>

	<!-- START ALERT BOXES -->
	<div class="grid740">
		{mensaje}
		<div class="clear"></div>
	</div>
	<!-- END ALERT BOXES -->

</div>
<!-- END SIMPLE FORM -->
