<!-- START SIMPLE FORM -->
<div class="simplebox grid740">
	<div class="titleh">
		<h3>{form_title}</h3>
		<div class="shortcuts-icons">
			<a class="shortcut tips" href="#" title="{form_title}"><img
				src="/webs/sis2/site_media/img/icons/shortcut/question.png"
				width="25" height="25" alt="icon" /></a>
		</div>
	</div>
	<script>
		function validateForm() {
			var horEnt = document.forms["form1"]["horEnt"].value;
			var horSal = document.forms["form1"]["horSal"].value;

			if (horEnt > horSal) {
				var msg = "<b>Error :</b> La hora de entrada debe ser menor que la hora de salida";
				var boxMsg = document.getElementById("box-msg");
				boxMsg.innerHTML = msg;
				boxMsg.style.visibility = "visible";
				return false;
			}
		}
	</script>
	<div class="body">
		<form id="form1" name="form1" method="post" action="{EDIT}"
			enctype="multipart/form-data">
			<input type="hidden" name="id_turno" value="{id_turno}" />
			<div class="st-form-line">
				<span class="st-labeltext">Descripción</span> <input name="descrip"
					type="text" class="st-forminput tips-right" id="descrip"
					style="width: 170px" value="{descrip}" title="Descripci&oacute;n" required />
				<div class="clear"></div>
			</div>
			<div class="st-form-line">
				<span class="st-labeltext">Hora de Entrada</span> <input id="horEnt"
					name="hora_ent" type="text" class="st-forminput tips-right"
					title="Hora de entrada para el turno" style="width: 170px;"
					value="{hora_ent}" required pattern="^\d{2}:\d{2}:\d{2}$" />
				<div class="clear"></div>
			</div>
			<div class="st-form-line">
				<span class="st-labeltext">Tolerancia de entrada</span> <input
					name="tol_ent" type="text" class="st-forminput tips-right"
					id="tol_ent" style="width: 170px" value="{tol_ent}"
					title="Tolerancia de entrada en minutos" required
					pattern="^([1-5]?[0-9])$" />
				<div class="clear"></div>
			</div>
			<div class="st-form-line">
				<span class="st-labeltext">Hora de Salida</span> <input id="horSal"
					name="hora_sal" type="text" class="st-forminput tips-right"
					title="Hora de salida para el turno" style="width: 170px;" value="{hora_sal}"
					required pattern="^\d{2}:\d{2}:\d{2}$" />
				<div class="clear"></div>
			</div>
			<div class="st-form-line">
				<span class="st-labeltext">Tolerancia de salida</span> <input
					name="tol_sal" type="text" class="st-forminput tips-right"
					id="tol_sal" style="width: 170px" value="{tol_sal}"
					title="Tolerancia de salida en minutos" required
					pattern="^([1-5]?[0-9])$" />
				<div class="clear"></div>
			</div>
			<div class="st-form-line">
				<span class="st-labeltext">Estado</span>
				<select name="habil" id="habil" class="uniform" style="width: 170px;">
					<option value="1">Activo</option>
					<option value="0">Inactivo</option>
				</select>
				<div class="clear"></div>
			</div>
			<script>
				$(function() {
					$('#horEnt').timepicker({
						'minTime' : '08:00am',
						'timeFormat' : 'H:i:s',
						'step' : 15
					});
					$('#horSal').timepicker({
						'minTime' : '08:00am',
						'timeFormat' : 'H:i:s',
						'step' : 15
					});
				});
				document.getElementById('habil').value = '{habil}';
			</script>
			<div class="button-box">
				<input type="submit" name="button" id="button" value="Modificar"
					class="st-button" /> <input type="reset" name="button"
					id="button2" value="Cancelar" class="st-clear"
					onclick="window.location='{REPORT}?habil={habil}'" />
			</div>
		</form>
	</div>

	<!-- START ALERT BOXES -->
	<div class="grid740">
		{mensaje}
		<div class="clear"></div>
	</div>
	<!-- END ALERT BOXES -->

</div>
<!-- END SIMPLE FORM -->
