{% extends "base.html" %}
{% block title %} Cargos {% endblock %}
{% block content %}
<!-- START TABLE -->
<div class="simplebox grid740">
	<div class="titleh">
		<h3>Areas</h3>
		<div class="shortcuts-icons">
			<a class="shortcut tips" href="{% url "area_crear" %}" title="Añadir nuevo registro"><img
				src="{{STATIC_URL}}img/icons/shortcut/plus.png" width="25"
				height="25" alt="icon" /></a> <a class="shortcut tips" href="#"
				title="Buscar"><img
				src="{{STATIC_URL}}img/icons/shortcut/search.png" width="25"
				height="25" alt="icon" /></a> <a class="shortcut tips" href="{% url "areas" %}"
				title="Actualizar datos"><img
				src="{{STATIC_URL}}img/icons/shortcut/refresh.png"
				width="25" height="25" alt="icon" /></a>
		</div>
	</div>

	<!-- Start Data Tables Initialisation code -->
	<script type="text/javascript" charset="utf-8">
		$(document).ready(function() {
			oTable = $('#example').dataTable({
				"bJQueryUI" : true,
				"sPaginationType" : "full_numbers"
			});
		});
	</script>
	<!-- End Data Tables Initialisation code -->
    <table border='0' class='display data-table' id='example'>
			<thead>
			<tr>
			<th>Tipo de area</th>
			<th>Opciones</th>
			</tr>
			</thead>
			<tbody>
    {% for area in areas %}
     <tr class='gradeA'>
     <td class='center'>{{ area.area }}</td>
     <td class='center'><a href="{% url "area_editar" area.id %}">Editar</a></td>
     </tr>
    {% endfor %}
     </tbody></table>
    <!-- START ALERT BOXES -->
	 <div class="albox succesbox">
        <b>Datos recuperados con exito!</b>
     </div>
	<!-- END ALERT BOXES -->
    </div>
{% endblock %}
